body {
  text-align: center;
}

.bar:hover {
  fill: lightskyblue;
}

#tooltip {
  position: absolute;
  z-index: 10;
  background-color: lightblue;
  padding: 10px;
  font-size: 1.3em;
  border-radius: 5px;
  visibility: hidden;
}
